@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ty2xvx');
  src:  url('fonts/icomoon.eot?ty2xvx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ty2xvx') format('truetype'),
    url('fonts/icomoon.woff?ty2xvx') format('woff'),
    url('fonts/icomoon.svg?ty2xvx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-table:before {
  content: "\e911";
}
.icon-alert-circle:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-camera1:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e914";
}
.icon-chevron-down:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e90d";
}
.icon-chevron-right:before {
  content: "\e90e";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-edit-2:before {
  content: "\e900";
}
.icon-help-circle1:before {
  content: "\e913";
}
.icon-layout:before {
  content: "\e917";
}
.icon-list:before {
  content: "\e912";
}
.icon-minus:before {
  content: "\e908";
}
.icon-more-horizontal:before {
  content: "\e915";
}
.icon-more-vertical:before {
  content: "\e916";
}
.icon-plus1:before {
  content: "\e909";
}
.icon-x:before {
  content: "\e904";
}
.icon-arrow_drop_down:before {
  content: "\e901";
}
.icon-help-circle:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-quill:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-table2:before {
  content: "\ea71";
}

.ceditor {
  background: #333;
  color: #999;
  margin:0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  padding-bottom: 200px;
}
.ceditor a {
  text-decoration: none
}
.ceditor textarea {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}
.ceditor .icon {
  font-size: 15px;
  line-height: 15px;
  vertical-align: text-bottom;
}
.ceditor .toolbar {
  background: #666;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
}
.ceditor .toolbar a {
  text-decoration: bold;
  color: #fff;
  padding: 10px;
  border-right: 1px solid #333;
  display: inline-block;
  min-width: 19px;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
}
.ceditor .toolbar > a.remove {
  float: right;
  border-left: 1px solid #333;
  border-right: none;
}
.ceditor .toolbar > div {
  display: inline-block;
}
.ceditor .toolbar > div > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ceditor .toolbar > div > ul > li {
  display: inline-block;
}
.ceditor .toolbar > div > ul > li.on {
  background: #999;
}

.ceditor .view {
  padding: 6px 16px;
}
.ceditor .h1 .view, .ceditor .h1 textarea {
  font-size: 20px;
}
.ceditor .h2 .view, .ceditor .h2 textarea {
  font-size: 16px;
}
.ceditor .p .view {
  font-size: 12px;
}
.ceditor .list .container {
  padding: 0 10px 0 35px;
}
.ceditor .list p {
  padding: 5px 0;
  margin: 0;
}
.ceditor .list .view p {
  font-size: 12px;
}
.ceditor .list .container textarea {
  vertical-align: text-top;
  margin: 0;
  width: calc(100% - 8px);
}
.ceditor .img .container {
  margin: 10px 0;
}
.ceditor .img .container img {
  width: 100%;
}
.ceditor .img .empty-image {
  background: #444;
  padding: 100px 0;
  text-align: center;
}
.ceditor .img .empty-image small {
  font-size: 15px;
  color: #777;
}
.ceditor .table .view table td {
  padding: 10px;
}
.ceditor .table .table-container {
  margin-left: 5px;
  margin-bottom: 20px;
  position: relative;
}
.ceditor .table .table-body {
  margin-left: 20px;
  padding-top: 20px;
  position: relative;
}
.ceditor .table .column-selector, .ceditor .table .row-selector {
  position: absolute;
}
.ceditor .table .column-selector a, .ceditor .table .row-selector a {
  color: #fff;
}
.ceditor .table .column-selector.selected, .ceditor .table .row-selector.selected {
  background: #444;
}
.ceditor .table .column-selector {
  text-align: center;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.ceditor .table .row-selector {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ceditor .table table {
  border-collapse: collapse;
}
.ceditor .table table td {
  min-width: 100px;
  min-height: 20px;
  border: 1px solid #fff;
  font-size: 12px;
}
.ceditor .table table td.hightlight {
  background: #444;
}
.ceditor .table table td textarea {
  margin: 0;
  border-radius: 0;
  background: none;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  display: block;
}
.ceditor textarea {
  margin: 0 10px;
  padding: 10px;
  max-width: calc(100% - 40px);
  min-width: calc(100% - 40px);
  resize: none;
  font-size: 12px;
  border-radius: 5px;
  background: #666;
  color: #ddd;
  border: none;
}